html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.projectListLi {
    transition: 300ms;
    white-space: nowrap;
}
.projectListLi:hover {
    letter-spacing: 0.104em;
    transform: translateX(-0.1em);
    cursor: pointer;
}

.logo {
    height: 150px;
    width: 150px;
    padding: 10px;
    transition: 300ms;
    pointer-events: all;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.nav-item {
    transition: 300ms;
    background-image: linear-gradient(to right, #d53a9d, #743ad5,#d53a9d);
    background-origin: border-box;
    background-size: 100% 3px;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 0.3rem;
    color:rgb(186, 191, 202);
    
}

.nav-item:hover {
    letter-spacing: 0.12em;
    transform: translateX(-0.1em);
    
}

.mainHeader {
    transition: 300ms;
    width: fit-content;
    color:rgb(186, 191, 202);

}

.mainHeader:hover {
    letter-spacing: 0.11em;
    transform: translateX(-0.1em);
}

.fab {
    transition: 200ms;
}

.fab:hover {
    transform: scale(1.2);
    cursor: pointer;
    color:rgb(176, 197, 247)
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.inputHeading {
    padding: 0.3rem;
}

.formEmail, .formName {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.formMessage {  
    margin-bottom: 1rem;
}

.buttonForm {
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
    color:white;
    width: 150px;
    background-image: linear-gradient(to right, #d53a9d, #743ad5,#d53a9d);
}

.buttonForm:hover {
    cursor: pointer;
    transform: scale(1.1);
    letter-spacing: 0.03em;
}

.error-text {
    color: red;
    left: 30px;
}

.link-header {
    font-size: 1rem;
    /* padding-top: 2rem;
    padding-left: 2rem; */
    color: white;
    text-decoration: none;
    margin: 2rem 1rem 0 1rem;
    background-image: linear-gradient(to right, #d53a9d, #743ad5,#d53a9d);
    background-origin: border-box;
    background-size: 100% 3px;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 300ms;
}

.link-header:hover {
    cursor: pointer;
    transform: scale(1.1);
    letter-spacing: 0.01em;
    color:rgb(186, 191, 202);
    text-decoration: none;
    
}

.link-div {
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

a:active {
    color: rgb(198, 207, 230);
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.portBtnDiv {
    margin: 0.6rem;
    display:flex;
    justify-content: center;
}

.portBody {
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    width: 100%;
}

.cardContainer {
    display: grid;
    background-color: hsl(0, 85%, 65%);
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    padding: 1rem;
    row-gap: 40px;
    column-gap: 40px;
    overflow: hidden;
}

.pCards {
    background-color: rgb(2, 53, 17);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 250px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.pBorder {
    background-color: rgb(38, 38, 61);
    border-radius: 10px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.descriptionBox {
    background-color: rgb(91, 66, 124);
    border-radius: 5px;
    opacity: 1;
    color:hsl(0, 0%, 100%);
    padding: 7px;
    overflow:scroll;
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.95

}

.projh1 {
    position:absolute;
    background-color: rgb(48, 11, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    color:hsl(0, 0%, 100%);
    top: 50%;
    height: 20%;
    width: 95%;   
    font-family: "Montserrat";
    opacity: 0.78;

}

.pContainer {
    background-color: rgb(48, 11, 90);
    border-radius: 5px;
    padding: 12px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardlinks {
    background-color: rgb(48, 11, 90);
    padding: 4px;
    border-radius: 5px;
}

.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 500px);
    margin: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    position: relative;
    color:hsl(0, 0%, 100%);
    z-index: 5;

}

 .p1 {
    background-image: url('../assets/project7.png');
 }
 .p2 {
    background-image: url('../assets/project8.png');
 }
.p3 {
    background-image: url('../assets/project2.png');
}
.p4 {
    background-image: url('../assets/project10.png');
}
.p5 {
    background-image: url('../assets/project4.png');
}
.p6 {
    background-image: url('../assets/project1.png');
}
.p7 {
    background-image: url('../assets/project6.png');
}
.p8 {
    background-image: url('../assets/project3.png');
}
.p9 {
    background-image: url('../assets/project11.png');
}
.p10 {
    background-image: url('../assets/project12.png');
}
.p11 {
    background-image: url('../assets/project5.png');
}
.p12 {
    background-image: url('../assets/project13.png');
}